/* Custom Props */
:root {
    --text-black: rgb(45, 49, 77);
    --text-grey: rgb(149, 151, 165);
    --text-white: rgb(255, 255, 255);
    --gradient: linear-gradient(134.71deg, rgb(51, 211, 94) -43.027%, rgb(42, 182, 217) 56.553%);
    --gradient-green: linear-gradient(134.71deg, rgb(51, 211, 94) -49.181%, rgb(42, 182, 217) 50.399%);
    --text-green: rgb(48, 200, 143);
    --bg-hero: rgb(242, 242, 242);
    --bg-features: rgb(244, 245, 247);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--text-white);
    font-family: "Public Sans", sans-serif;
    overflow-x: hidden;
}

/* CONTAINER */
.container {
    max-width: 115rem;
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

/* visually-hidden */

.visually-hidden {
    position: absolute;
    width: .1rem;
    height: .1rem;
    margin: -.1rem;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Main Content */
.main-content {
    flex-grow: 1;
}

/* BUTTON */
.button {
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.8rem;
    letter-spacing: 0rem;
    padding: .8rem 3.4rem;
    border-radius: 2.2rem;
    transition: .3s opacity ease;
    background-image: var(--gradient);
}

.button:hover {
    opacity: 0.4;
}

/* HEAEDER */

.site-header {
    z-index: 10;
    background-color: var(--text-white);
}

.site-header__container {
    display: flex;
    align-items: center;

}

.site-header__logo {
    margin-right: auto;
}


.site-header__logo-black {
    display: flex;
    width: 13.9rem;
    height: 2rem;
    transition: .3s opacity ease;
}

.site-header__logo-black:hover {
    opacity: 0.8;
}

.site-header__logo-black:active {
    opacity: 0.6;
}

.site-nav {
    margin-right: 22.6rem;
}

.site-nav__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;

}

.site-nav__item {
    position: relative;
    padding: 3.2rem 0;
}

.site-nav__item:hover .site-nav__link {
    color: var(--text-black);

}

.site-nav__item:hover .site-nav__link::after {
    content: '';
    position: absolute;
    bottom: 0rem;
    left: 0;
    width: 100%;
    height: .4rem;
    background-image: var(--gradient-green);
}

.site-nav__link {
    color: var(--text-grey);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: -0.1rem;
    letter-spacing: -0.01rem;
    transition: .3s color ease, .3s background-image ease;
}

/* HERO */

.hero {
    position: relative;
    background: var(--bg-hero);
    padding: 17rem 0;
    background-image: url('../image/hero-bg-desktop.svg');
    background-repeat: no-repeat;
    background-position: calc(50% + 59.3rem) -25.2rem;

}

.hero__container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.hero-info {
    max-width: 44.7rem;
}

.hero-info__title {
    margin-bottom: 2.4rem;
    color: var(--text-black);
    font-size: 5.6rem;
    font-weight: 100;
    line-height: 6.4rem;
    letter-spacing: -0.1rem;
}

.hero-info__text {
    margin-bottom: 3.6rem;
    color: var(--text-grey);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: -0.03rem;
}

.hero__image {
    position: absolute;
    width: 76rem;
    height: 95rem;
    left: calc(50% + 8.8rem);
    top: -12.9rem;
}


/* FEATURES */

.features {
    background-color: var(--bg-features);
    padding: 9.5rem 0;
}

.featuers-inner {
    max-width: 63.5rem;
    margin-bottom: 7.2rem;
}

.featuers-inner__title {
    margin: 0;
    margin-bottom: 1.6rem;
    color: var(--text-black);
    font-size: 4rem;
    font-weight: 100;
    line-height: 6.4rem;
    letter-spacing: -0.07rem;
}

.featuers-inner__text {
    color: var(--text-grey);
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
    letter-spacing: -0.03rem;
}

.feauters-card {
    display: flex;
    align-items: center;
    gap: 3rem;
    justify-content: space-between;
}

.feauters-card__box {
    max-width: 25.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.feauters-card__box-img {
    display: block;
    width: 7.2rem;
    height: 7.2rem;
    margin-bottom: 4rem;
}

.feauters-card__box-title {
    color: var(--text-black);
    font-size: 2.4rem;
    font-weight: 100;
    line-height: 2.8rem;
    letter-spacing: -0.04rem;
    margin-bottom: 2.6rem;

}

.feauters-card__box-text {
    color: var(--text-grey);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    letter-spacing: -0.03rem;
}


/* Latest Articles */

.articles {
    background-color: var(--bg-hero);
    padding: 8rem 0;
}

.articles-container__title {
    margin: 0;
    color: var(--text-black);
    font-size: 4rem;
    font-weight: 100;
    line-height: 6.4rem;
    letter-spacing: -0.07rem;
    margin-bottom: 4rem;
}

.articles-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3rem;
}

.articles-list__item {
    max-width: 25.5rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background-color: var(--text-white);
}

.articles-list__top {
    width: 100%;
}

.articles-list__image {
    width: 25.5rem;
    height: 20rem;
    display: block;
}

.articles-list__bottom {
    padding: 2.5rem 2.4rem 2.4rem;
}

.articles-list__name {
    color: var(--text-grey);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: -0.02rem;
    margin-bottom: 0.8rem;
}

.articles-list__title {
    color: var(--text-black);
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 2rem;
    letter-spacing: -0.03rem;
    margin-bottom: 0.8rem;
}

.articles-list__text {
    color: var(--text-grey);
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: -0.02rem;
}